.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all 0.3s ease-in-out;
        outline-offset: 1rem;

        &--p1 {
            left: 0;
            top: -2rem;

        }

        &--p2 {
            right: 0rem;
            top: 2rem;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1rem solid $color-primary;
            z-index: 11;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(0.95)
    }
}