.nav {
  background-color: orange; }
  .nav ul {
    display: flex;
    list-style: none; }
    .nav ul li a {
      text-decoration: none;
      color: gray; }
      .nav ul li a:hover {
        color: blue; }

.banner h1 {
  font-size: 50px;
  text-align: center; }

.footer h1 {
  font-size: 30px;
  text-align: center; }
  .footer h1:hover {
    color: royalblue;
    background-color: orange; }
